<!DOCTYPE html>
<html lang={{ app.request.locale }}>
    <head>
        <meta charset="UTF-8">
        <title>Mon site</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app')}}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">

        <header class="d-flex flex-column justify-content-between">
            {{ include('layout/partials/_header.html.twig') }}
        </header>

        {{ include('layout/partials/_flash-messages.html.twig') }}

        <div class="container-lg d-flex justify-content-between flex-grow-1">
            <main role="main" class="bg-info px-4 py-4 w-75 mx-sm-auto">
                {% block body %}{% endblock %}
            </main>
            <aside class="ml-1 bg-info px-4 d-none d-lg-block d-xl-block">
                {{ include('layout/partials/_aside.html.twig', {'categories': categories}) }}
            </aside>       
        </div>

        {{include('layout/partials/_footer.html.twig') }}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>